.image-upload {
  &.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  &__preview {
    width: 13rem;
    height: 13rem;
    border: 1px solid var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 2rem;
    img {
      width: 100%;
    }
  }
  &__error-text {
    margin: 1rem 0;
    color: var(--red);
  }
}