.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: absolute;
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  &:after {
    content: ' ';
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid var(--green);
    border-color: var(--green) transparent var(--green) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}
.loading-spinner__overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 6rem;
  left: 0;
  background: rgb(255,255,255);
  display: flex;
  justify-content: center;
  z-index: 100;
  align-items: center;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
