.main-navigation {
 &__title {
  a {
    text-decoration: none;
    color: var(--black);
    margin: 2rem;
    font-size: 3rem;
    transition: all 0.3s ease-out;
    position: relative;
    font-family: 'Pacifico', cursive;
    transition: .2s ease-out;
    white-space: nowrap;
    &:hover, &.active {
      color: var(--green);
    }
    @include respond(xxsmall) {
      font-size: 2.5rem;
      margin: 1rem;
    }
  }
 }
}