.modal {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60%;
  background: var(--light);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  transform: scale(0) translate(-50%, -150%);
  opacity: 0;
  visibility: hidden;
  @include respond(medium) {
    width: 80%;
  }
  @include respond(medium) {
    width: 90%;
  }
  &__header {
    width: 100%;
    padding: 1rem 0.5rem;
    background: var(--green);
    color: white;
    h2 {
      margin: 0.5rem;
      font-size: 2.5rem;
      letter-spacing: 2px;
    }
  }
  &__content {
    padding: 2rem 1rem;
    font-size: 1.6rem;
  }
  &__footer {
    padding: 2rem 1rem;
    font-size: 1.6rem;
  }
}