@font-face {
  font-family: Monument;
  src: url('../../assets/fonts/Monument/MonumentExtended-Regular.otf');
}

html {
  font-family: 'Monument', serif;
  font-size: 62.5%;
  @include respond(large) {
    font-size: 56.25%;
  }
  @include respond(small) {
    font-size: 50%;
  }
  @include respond(xxsmall) {
    font-size: 43.75%;
  }
}

.heading-primary {
  font-size: 8rem;
  font-weight: normal;
  letter-spacing: 2rem;
  white-space: nowrap;
  animation: moveInLeft 1s ease-out;
}

.heading-secondary {
  font-size: 2rem;
  letter-spacing: 1rem;
  font-weight: 400;
  white-space: nowrap;
  animation: moveInRight 1s ease-out;
}