@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  @include respond(large) {
    font-size: 56.25%;
  }
  @include respond(small) {
    font-size: 50%;
  }
  @include respond(xxsmall) {
    font-size: 43.75%;
  }
}

body {
  font-size: 1.6rem;
}

.heading-primary {
  font-size:10rem;
  font-weight: normal;
  letter-spacing: 10px;
  white-space: nowrap;
  animation: moveInLeft 1s ease-out;
  @include respond(large) {
    font-size: 9rem;
    letter-spacing: 8px;
  }
  @include respond(small) {
    font-size: 8rem;
    letter-spacing: 6px;
  }
  @include respond(xxsmall) {
    font-size: 7rem;
    letter-spacing: 3px;
  }
}

.heading-secondary {
  font-size: 3rem;
  letter-spacing: 10px;
  font-weight: 400;
  white-space: nowrap;
  animation: moveInRight 1s ease-out;
  @include respond(large) {
    font-size: 2.5rem;
  letter-spacing: 8px;
  }
  @include respond(small) {
    font-size: 2rem;
    letter-spacing: 6px;
  }
  @include respond(xxsmall) {
    font-size: 1.8rem;
    letter-spacing: 1px;
    letter-spacing: 1px;
  }
}