.authentication {
  width: 90%;
  max-width: 40rem;
  margin: 7rem auto;
  margin-top: 15rem;
  text-align: center;
  &__header {
    color: white;
    text-align: center;
  }
  &__form {
    margin-bottom: 1rem;
  }
  > .btn {
    margin-top: 2rem;
  }
}