.place-form {
  list-style: none;
  margin: 3rem auto;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid var(--grey);
  background: var(--white);
  h1 {
    text-align: center;
    margin: 2rem 0;
  }
  .btn {
    display: block;
    margin: 0 auto;
  }
}