.users {
  &-search {
    padding: 1rem;
    display: block;
    margin-top: 2rem;
    border-radius: 10rem;
    outline: none;
    width: 100%;
    border: 1px solid var(--grey);
    @include inputFocus;
  }
}