.main-header {
  width: 100%;
  height: 6rem;
  top: 0;
  left: 0;
  background: var(--white);
  border-bottom: 1px solid var(--grey);
  padding: 0 1rem;
  position: fixed;
  z-index: 5;
  &__content {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
  }
}
main {
  margin-top: 6rem;
}