$breakpoints: (
  xxsmall: (max-width: 460px),
  xsmall: (max-width: 640px),
  small: (max-width: 800px),
  medium: (max-width: 1024px),
  large: (max-width: 1200px),
  xlarge: (max-width: 1440px)
);

:root {
  --white: #fff;
  --black: #000;
  --green: #55c57a;
  --grey: #ccc;
  --light: #f7f7f7;
  --red: #d74338;
  --blue: #00BFFF;
  --blue-dark: #2a006e;
  --black-light: #444;
}