.comment {
  padding: 2rem;
  display: flex;
  &__img {
    width: 100%;
    &-container {
      margin-right: 1rem;
      width: 5rem;
      height: 5rem;
      overflow: hidden;
      border-radius: 50%;
      flex-shrink: 0;
    }
  }
  &__content {
    font-size: 1.2rem;
    background-color: var(--light);
    padding: 1rem;
    border-radius: 6px;
  }
  &__author {
    font-size: inherit;
  }
}