.form-control {
  margin: 3rem 0;
  label,input,textarea {
    display: block;
  }
  label {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  input,textarea {
    width: 100%;
    font: inherit;
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: 0.15rem 0.25rem;
    font-size: 1.4rem;
    input:focus, textarea:focus {
      outline: none;
      background: #ebebeb;
      border-color: #510077;
    }
  }
  &--invalid {
    label, p {
      color: var(--red);
      margin-top: .5rem;
    }
    input,textarea {
      border-color: var(--red);
      background: #ffd1d1;
    }
  }
}