.form-control {
  margin: 3rem 0;
  label,input,textarea {
    display: block;
  }
  label {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  input,textarea {
    width: 100%;
    font: inherit;
    border: 1px solid var(--grey);
    background: #f8f8f8;
    padding: .5rem 1rem;
    font-size: 1.6rem;
    border-radius: 5px;
    transition: .2s ease-out;
    &:focus, &:focus {
      outline: none;
    }
  }
  textarea {
    height: 15rem;
  }
  &--invalid {
    label, p {
      color: var(--red);
      margin-top: .5rem;
    }
    input,textarea {
      border-color: var(--red);
      background: #ffd1d1;
    }
  }
}