.modal {
  z-index: 100;
  position: fixed;
  top: 22vh;
  left: 10%;
  width: 80%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  @media (min-width: 768px) {
    left: calc(50% - 20rem);
    width: 40rem;
  }
  &__header {
    width: 100%;
    padding: 1rem 0.5rem;
    background: #2a006e;
    color: white;
    h2 {
      margin: 0.5rem;
    }
  }
  &__content {
    padding: 1rem 0.5rem;
  }
  &__footer {
    padding: 1rem 0.5rem;
  }
}