.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include respond(small) {
  flex-direction: column;
  }
  li {
    margin: 0 2rem;
    @include respond(small) {
      margin: 2rem;
    }
  }
  a {
    border: 1px solid transparent;
    text-decoration: none;
    color: var(--black);
    padding: .5rem;
    transition: .3s ease-out;
    font-size: 1.4rem;
    font-weight: normal;
    position: relative;
    @include linkAfter;
    @include respond(small) {
      font-size: 1.8rem;
    }
  }
  button {
    cursor: pointer;
    color: var(--black);
    background: transparent;
    border: none;
    outline: none;
    padding: .5rem;
    font-size: 1.4rem;
    font-family: inherit;
    transition: .3s ease-out;
    position: relative;
    @include respond(small) {
      font-size: 1.8rem;
      padding: 0;
    }
    @include linkAfter
  }
}