.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  li {
    margin: 0 2rem;
    @include respond(small) {
      margin: 0 1rem;
    }
  }
  a {
    border: 1px solid transparent;
    text-decoration: none;
    color: var(--black);
    transition: .3s ease-out;
    font-size: 2.5rem;
    font-weight: normal;
    position: relative;
    @include linkAfter;
    align-items: center;
    display: flex;
    &.active, &:hover {
      color: var(--green);
      .user-name {
        color: var(--green);
      }
    }
    @include respond(small) {
    }
    .user-container {
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 3rem;
      height: 3rem;
    }
    .user-image {
      width: 100%;
    }
    .user-name {
      display: inline-block;
      font-size: 1.6rem;
      font-weight: bold;
      color: var(--black);
      margin: 1rem;
    }
  }
  button {
    cursor: pointer;
    color: var(--black);
    background: transparent;
    border: none;
    outline: none;
    font-size: 2.5rem;
    font-family: inherit;
    transition: .3s ease-out;
    position: relative;
    &.active, &:hover {
      color: var(--blue);
    }
    @include respond(small) {
      padding: 0;
    }
    @include linkAfter
  }
}