.place-item {
  margin-bottom: 5rem;
  position: relative;
  &__content {
    padding: 0;
  }
  &__info {
    padding: 1.5rem;
    text-align: center;
    font-size: 1.6rem;
    > * {
      user-select: text;
    }
    h2 {
      color: var(--black);
      margin-bottom: .5rem;
    }
    h3 {
      color: var(--black-light);
      font-weight: normal;
      margin-bottom: 2rem;
    }
  }
  p {
    color: var(--black-light);
    text-align: left;
  }
  &__image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 60rem;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
    }
  }
  &__actions {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid var(--grey);
    display: flex;
    justify-content: space-evenly;
  }
  &__modal-content {
    padding: 0;

  }
  &__modal-actions {
    text-align: center;
    button, a {
       margin: 0.5rem;
    }
  }
  &__indicators {
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
  }
  &__likes {
    margin: 1rem;
    display: flex;
    align-items: center;
    &-number {
      font-size: 2rem;
      margin: .5rem;
      display: inline-block;
    }
    i {
      color: var(--red);
    }
  }
  &__comments {
    margin: 1rem;
    display: flex;
    align-items: center;
    &-number {
      font-size: 2rem;
      margin: .5rem;
      display: inline-block;
    }
  }
  &__like {
    @include center;
    font-size: 15rem;
    transform: translate(-50%, -50%) scale(0);
    z-index: 1;
    color: var(--red);
  }
  &__author {
    height: 6rem;
    display: flex;
    align-items: center;
    &__img {
      width: 100%;
      cursor: pointer;
      &-container {
        margin: 1.5rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        @include respond(xxsmall) {
          margin: 1rem;
        }
      }
    }
    &__box {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        span:nth-child(1) {
          font-weight: bold;
        }
        span:nth-child(2) {
          font-size: 1.3rem;
          color: var(--black-light);
        }
    }
  }
}
.map-container {
  height: 50rem;
  width: 100%;
  @include respond(medium) {
    height: 40rem;
  }
  @include respond(medium) {
    height: 30rem;
  }
}