.place-item {
  margin: 1rem 0;
  &__content {
    padding: 0;
  }
  &__info {
    padding: 1rem;
    text-align: center;
  }
  &__image {
    width: 100%;
    height: 12.5rem;
    margin-right: 1.5rem;
    @media (min-width: 768px) {
        height: 20rem;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__info {
    h2,h3,p {
      margin: 0 0 0.5rem 0;
    }
  }
  &__actions {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ccc;
  }
  &__modal-content {
    padding: 0;

  }
  &__modal-actions {
    text-align: center;
    button, a {
       margin: 0.5rem;
    }
  }
}
.map-container {
  height: 15rem;
  width: 100%;
}