.place-item {
  margin: 5rem 0;
  &__content {
    padding: 0;
  }
  &__info {
    padding: 1.5rem;
    text-align: center;
    font-size: 1.4rem;
    > *{
      margin-bottom: 2rem;
    }
    h2 {
      color: var(--grey);
    }
    h3 {
      color: var(--blue);
    }
  }
  &__image {
    width: 100%;
    height: 25rem;
    margin-right: 1.5rem;
    @include respond(small) {
        height: 20rem;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__actions {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    display: flex;
    justify-content: space-evenly;
  }
  &__modal-content {
    padding: 0;

  }
  &__modal-actions {
    text-align: center;
    button, a {
       margin: 0.5rem;
    }
  }
}
.map-container {
  height: 50rem;
  width: 100%;
  @include respond(medium) {
    height: 40rem;
  }
  @include respond(medium) {
    height: 30rem;
  }
}