.user-profile {
  display: flex;
  margin-top: 5rem;
  border-bottom: 1px solid var(--grey);
  padding-bottom: 5rem;
  &__img {
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 6rem;
    @include respond(xxsmall) {
      width: 10rem;
      height: 10rem;
      margin-right: 2rem;
    }
    img {
      width: 100%;
    }
  }
  &__info {
    flex-grow: 1;
    > * {
      display: flex;
      margin-bottom: 3rem;
      @include respond(xxsmall) {
      margin-bottom: 1.5rem;
      }
    }
  }
  &__line {
    
    &--1 {

    }
    &--2 {
     ul {
       list-style: none;
       display: flex;
       li {
         margin-right: 2rem;
         span:nth-child(2) {
           margin-left: .5rem;
           font-weight: bold;
         }
       }
     }
    }
    &--3 {

    }
  }
  &__name {
    font-size: 3.5rem;
    font-weight: 300;
    white-space: nowrap;
    @include respond(xxsmall) {
    font-size: 2.5rem;
    }
  }
  &__action {
    margin-left: 1rem;
    font-size: 2rem;
    align-self: center;
    display: flex;
    .btn {
      &--red {
      margin-left: 1rem;
      }
      @include respond(xxsmall) {
        font-size: 1.2rem;
        padding: .5rem 1rem;
      }
    }
  }
}